<bmb-container class="header-container" [appearance]="'primary-home'">
    <h2 class="font-bold-9">Confirmar y pagar</h2>
    <p class="font-regular-4 header-description">
        Selecciona el método de pago y revisa que los datos de compra sean los correctos antes de finalizar la
        transacción
    </p>
</bmb-container>
<section bmbLayout class="section-container">
    <bmb-container bmbLayoutItem class="payments-container" [colLg]="7" [colSm]="4" [appearance]="'primary-home'">
        <h4 class="font-bold-6">Método de pago</h4>
        <bmb-divider [type]="'simple'"></bmb-divider>
    </bmb-container>
    <bmb-container bmbLayoutItem class="summary-container" [colLg]="5" [colSm]="4" [appearance]="'primary-home'">
        <h4 class="font-bold-6">Resumen de cuenta</h4>
        <bmb-divider [type]="'simple'"></bmb-divider>
        <h4 class="font-bold-5">Detalle de pago</h4>
        <section bmbLayout class="section-summary-publication">
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-regular-4">Publicación 1</div>
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-semibold-4 text-right">$3,976.00 MXN</div>
        </section>
        <section bmbLayout class="section-summary-amount">
            <div bmbLayoutItem [colLg]="12" [colSm]="12" class="font-light-3">Cantidad x 1</div>
        </section>
        <div class="custom-divider">
            <bmb-divider [type]="'dashed'"></bmb-divider>
        </div>
        <section bmbLayout class="section-summary-detail">
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-regular-4">Sitio de compra</div>
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-semibold-4 text-right">Tiendas checkout pruebas</div>
        </section>
        <section bmbLayout class="section-summary-detail">
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-regular-4">Monto</div>
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-semibold-4 text-right">$3,976.00 MXN</div>
        </section>
        <section bmbLayout class="section-summary-detail">
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-regular-4">Descuento</div>
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-semibold-4 text-right discount">$500 MXN</div>
        </section>
        <section bmbLayout class="section-summary-detail">
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-regular-4">Subtotal</div>
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-semibold-4 text-right">$3,476.00 MXN</div>
        </section>
        <section bmbLayout class="section-summary-detail">
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-regular-4">I.V.A 16%</div>
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-semibold-4 text-right">$556.16 MXN</div>
        </section>
        <div class="custom-divider">
            <bmb-divider [type]="'simple'"></bmb-divider>
        </div>
        <section bmbLayout class="section-summary-total">
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-bold-5">Total</div>
            <div bmbLayoutItem [colLg]="6" [colSm]="6" class="font-semibold-5 text-right">$4032.16 MXN</div>
        </section>
        <section bmbLayout class="section-summary-terms">
            <bmb-checkbox [id]="'checkbox1'"></bmb-checkbox>
            <label class="font-regular-3">He leído y acepto los <a>términos y condiciones</a>.</label>
        </section>
        <section class="section-summary-actions text-right">
            <button bmbButton>Realizar pago</button>
        </section>
    </bmb-container>
</section>