.header-container .bmb_container-primary-home {
    padding: var(--bmb-spacing-xl) var(--bmb-spacing-xxl) var(--bmb-spacing-xl) var(--bmb-spacing-xxl);
}

.header-container .bmb_container {
    border-radius: var(--bmb-radius-none);
}

.header-description {
    margin-top: var(--bmb-spacing-m);
}

.section-container {
    margin: var(--bmb-spacing-m) var(--bmb-spacing-none) var(--bmb-spacing-none) var(--bmb-spacing-none);
}

.bmb_divider {
    border-top: var(--bmb-spacing-none) !important;
}

.bmb_divider-dashed {
    border-style: dashed !important;
}

.custom-divider .bmb_divider {
    border-top: none !important;
    border: .0625rem solid RGBA(var(--color-charade-300));
}

.text-right {
    text-align: right;
}

.payments-container .bmb_container {
    border-radius: var(--bmb-radius-none) var(--bmb-radius-s) var(--bmb-radius-none) var(--bmb-radius-none);
    display: block;
    overflow: auto;
}

.summary-container .bmb_container {
    border-radius: var(--bmb-radius-s) var(--bmb-radius-none) var(--bmb-radius-none) var(--bmb-radius-none);
    display: block;
    overflow: auto;

    .section-summary-publication {
        margin: var(--bmb-spacing-l) var(--bmb-spacing-none) var(--bmb-spacing-none) var(--bmb-spacing-none);
        align-items: baseline;
        justify-content: space-between;
    }

    .section-summary-amount {
        margin: var(--bmb-spacing-none) var(--bmb-spacing-none) var(--bmb-spacing-none) var(--bmb-spacing-none);
        align-items: baseline;
        justify-content: space-between;
    }

    .section-summary-detail {
        margin: var(--bmb-spacing-xl) var(--bmb-spacing-none) var(--bmb-spacing-none) var(--bmb-spacing-none);
        align-items: baseline;
        justify-content: space-between;

        .discount {
            color: RGBA(var(--color-red-primary));
        }
    }

    .section-summary-total {
        margin: var(--bmb-spacing-m) var(--bmb-spacing-none) var(--bmb-spacing-none) var(--bmb-spacing-none);
        align-items: baseline;
        justify-content: space-between;
    }

    .section-summary-terms {
        margin: var(--bmb-spacing-xl) var(--bmb-spacing-none) var(--bmb-spacing-none) var(--bmb-spacing-none);
        gap: var(--bmb-spacing-none);

        label {
            align-items: center;
            display: flex;
            height: 2.625rem;
        }

        a {
            color: RGBA(var(--color-blue-primary));
            display: contents;
            cursor: pointer;
        }
    }

    .section-summary-actions {
        margin: var(--bmb-spacing-m) var(--bmb-spacing-none) var(--bmb-spacing-none) var(--bmb-spacing-none);
    }

}

@media (max-width: 999px) {

    .payments-container .bmb_container {
        border-radius: var(--bmb-radius-none) var(--bmb-radius-none) var(--bmb-radius-none) var(--bmb-radius-none);
    }

    .summary-container .bmb_container {
        border-radius: var(--bmb-radius-none) var(--bmb-radius-none) var(--bmb-radius-none) var(--bmb-radius-none);
    }

}